
@font-face {
  font-family: 'OpenSans-CondensedLightItalic';
  src: url('OpenSans-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),  url('OpenSans-CondensedLightItalic.woff') format('woff'), url('OpenSans-CondensedLightItalic.ttf')  format('truetype'), url('OpenSans-CondensedLightItalic.svg#OpenSans-CondensedLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
